body {background-color: #54514f;}

#slotmachine-box {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #8c5c46;
  border-radius: 25px;

  -webkit-box-shadow:
		0px 8px 10px rgba(000,000,000,0.5),
    inset 1px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 8px 10px rgba(000,000,000,0.5);
}

#slotmachine-feedback {
  height: 20%;
  width: 640px;
  display: flex;
  background-color: #54514f;
  border-radius: 25px;
  margin: 10px;

  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

#slotmachine-feedback > a { 
  margin: auto;
  text-align: center; 
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 80px;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
}

#slotmachine-frame {
  height: 34%;
  width: 90%;
  display: inline-flex;
  align-items: center;
  background-color: #e0caa8;
  border-radius: 25px;
  margin: 10px;
  overflow: hidden;

  -webkit-box-shadow: inset 0 0 12px #000000;
  box-shadow: inset 0 0 12px #000000;
}

#slotmachine-button {
  height: 20%;
  width: 640px;
  display:inline-block;
  padding:0.4em 1.6em;
  border-radius: 25px;
  margin: 10px;
  box-sizing: border-box;
  font-family: 'Bangers', cursive;
  white-space: nowrap;
  font-size: 60px;
  color:#000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.65);
  text-align:center;
  transition: all 0.15s;
  background-color: #799082;
  border:0.1em solid #ffffff00;

  -webkit-box-shadow: inset 0 0 12px #000000;
  box-shadow: inset 0 0 12px #000000;
}

#slotmachine-button:hover {
  text-shadow: 0 0 2em rgb(247, 239, 239);
  color:#fbfbfb;
  background-color: #63c389;
  border-color:#ffffff;
}


#slotmachine-stage {
  margin: 0px auto;
  display: flex;
  align-items: center;
  height: 275px;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*-webkit-perspective: 1200;*/
}

.reel {
  height: 115px;
  width: 175px;
  background-color: #000000;

  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-transform-style: preserve-3d;

  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  transform-style: preserve-3d;
  
}

.reel > :nth-child(odd) {
  background-color: #ada1a8;
}

.reel > :nth-child(even) {
  background-color: #c31f27;
}

.reel-face {
  position: absolute;
  opacity: 1;
  height: 115px;
  width: 175px;
  left: 50%;
  top: 50%;
  border-style: solid;
  box-sizing: border-box;
  margin-left: -87.5px;
  margin-top: -57.5px;

  font-family: 'Bangers', cursive;
  text-align:center;
  font-size: 60px;
}

.reel-face > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
  max-height:100%;
}

.spin-animation {
  -webkit-animation-name: spin;
  -webkit-animation-duration: var(--spinTime);

  animation-name: spin;
  animation-duration: var(--spinTime);
}

.large-flash-animation {
  -webkit-animation: large-flash 1.4s ease-out;
  -webkit-animation-iteration-count: 1;

  animation: large-flash 1.4s ease-out;
  animation-iteration-count: 1;
}

.small-flash-animation {
  -webkit-animation: small-flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  animation: small-flash 1s ease-out;
  animation-iteration-count: 1;
}

@-webkit-keyframes spin {
  0%    { -webkit-transform: rotateX(var(--startPos)); }
  100%  { -webkit-transform: rotateX(var(--targetPos)); }
}

@-webkit-keyframes large-flash {
  0%   { background-color: var(--startColor); }
  17%  { background-color: var(--flashColor); }
  33%  { background-color: var(--startColor); }
  50%  { background-color: var(--flashColor); }
  66%  { background-color: var(--startColor); }
  83%  { background-color: var(--flashColor); }
  100%  { background-color: var(--startColor); }
}

@-webkit-keyframes small-flash {
  0%   { background-color: var(--startColor); }
  25%  { background-color: var(--flashColor); }
  50%  { background-color: var(--startColor); }
  75%  { background-color: var(--flashColor); }
  100%  { background-color: var(--startColor); }
}

@keyframes spin {
  0%    { transform: rotateX(var(--startPos)); }
  100%  { transform: rotateX(var(--targetPos)); }
}

@keyframes large-flash {
  0%   { background-color: var(--startColor); }
  17%  { background-color: var(--flashColor); }
  33%  { background-color: var(--startColor); }
  50%  { background-color: var(--flashColor); }
  66%  { background-color: var(--startColor); }
  83%  { background-color: var(--flashColor); }
  100%  { background-color: var(--startColor); }
}

@keyframes small-flash {
  0%   { background-color: var(--startColor); }
  25%  { background-color: var(--flashColor); }
  50%  { background-color: var(--startColor); }
  75%  { background-color: var(--flashColor); }
  100%  { background-color: var(--startColor); }
}